<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :player_id, value: current_player.id, type:'hidden' %>

  <div class="md-form">
    <%= form.label :typetournament_id %><br />
    <%= form.select :typetournament_id, typetournament: Typetournament.pluck(:typetournamentname, :id) %>
  </div>

  <div class="md-form">
    <%= form.label :maxteam %><br />
    <%= form.number_field :maxteam, min:'2', class:"form-control md-textarea" %>
  </div>

  <div class="md-form">
    <%= form.label :maxplayers %><br />
    <%= form.number_field :maxplayers, min:'1', class:"form-control md-textarea" %>
  </div>

  <div class="md-form">
    <%= form.label :descripcion %><br />
    <%= form.text_area :description, class:"form-control md-textarea" %>
  </div>

  <div class="md-form">
    <%= form.label :bet_amounts %><br />
    <%= form.number_field :bet_amounts, min:'10', max: current_player.rags, class:"form-control md-textarea" %>
    <span class='thumb'><span class='value'></span></span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
