<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field md-form">
    <%= form.label :id %><br />
    <%= form.text_field :id %>
  </div>

  <div class="md-form">
    <%= form.label :descripcion %><br />
    <%= form.text_area :description, class:"form-control md-textarea" %>
  </div>

  <div class="md-form">
    <%= form.label :bet_amounts %><br />
    <%= form.number_field :bet_amounts, min:'0', max:'100' %>
    <span class='thumb'><span class='value'></span></span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
