<div class='text middle'>
  <span class='hidden'>T</span>
  <span class='hidden'>h</span>
  <span class='hidden'>e</span>
  <span>R</span>
  <span>a</span>
  <span class='hidden'>n</span>
  <span class='hidden'>d</span>
  <span class='hidden'>o</span>
  <span class='hidden'>m</span>
  <span>g</span>
  <span class='hidden'>a</span>
  <span class='hidden'>m</span>
  <span class='hidden'>e</span>
  <span>s</span>
</div>

  <div class='right'>
    <%= link_to 'Crear Torneo', new_tournament_path, class:'waves-effect waves-light btn' %>
  </div>

<table class='table'>
  <tbody>
    <div class='row'>
      <% @tournaments.each do |tournament| %>
        <div class='col s12 m5'>
          <tr class='card'>
            <td><%= tournament.player.name %> <%= tournament.player.last_name %></td>
            <td><%= tournament.typetournament.typetournamentname %></td>
            <td><%= tournament.maxteam %></td>
            <td><%= tournament.maxplayers %></td>
            <td><%= tournament.description %></td>
            <td><%= tournament.bet_amounts %></td>
            <td><%= tournament.winner %></td>
            <td class='card-action'><%= link_to 'Show', tournament %></td>
          </tr>
        <% end %>
      </div>
    </div>
  </tbody>
</table>

<br>