<div class='row'>
  <div>
    <% case @ttn %>
      <% when 'Star' %>
        <%= render 'tournaments/showstar' %>
      <% when 'Sudden Death' %>
        <%= render 'tournaments/showsdeath' %>
      <% when 'PvP' %>
        <%= render 'tournaments/showpvp' %>
    <% end %>
  </div>
  <div class='col s12 m8 19 blue-grey darken-1 center z-depth-3'>
    <%= image_tag @tournament.game.logo, width:'400px' %>

    <h4>
      <%= @tournament.player.name %> <%= @tournament.player.last_name %> 
      <br> <%= @tournament.player.points %>
    </h4>

    <h5 class='col s6'>
      <%= image_tag 'Rags.png', width:'50px' %>
      <%= @tournament.bet_amounts %>
      <strong>Rags</strong>
    </h5>

    <h5 class='col s6'>Duelo tipo<br/> <%= @ttn %></h5>

    <h5 class='col s12'>Se juega <br/><%= @tournament.date.strftime('%a %d %b %Y') %></h5>

    <h5 class='col s12'> Descripcion<br/><%= @tournament.description %></h5>

    <h3 class='col s12'>
      <% if @tournament.winner? %>
        Team <%= @tournament.winner %> es el ganador!
      <% else %>
        <strong>Winner winner chicken dinner</strong>
      <% end %>
    </h3>

    <%# 3 = PvP -- 2 = Sudden Death -- 1 = Star %>
    <% if @maxs+@mods.size > @plc %>
      <% if @plc < @maxs %>
        <%= link_to 'Unirse como COMPETIDOR', tournament_players_tournaments_path(@tournament), method: :post, class:"waves-effect btn col s12 blue-grey lighten-1" %>
      <% else %>
        <%= link_to 'Unirse como MODERADOR', tournament_players_tournaments_path(@tournament), method: :post, class:"waves-effect btn col s12 blue-grey lighten-1" %>
      <% end %>
    <% else %>
      <%= link_to 'Torneo COMPLETO', root_path, class:"waves-effect btn disabled col s12 blue-grey lighten-1" %>
    <% end %>
    
    <br>

    <%= link_to 'Atras', tournaments_path, class:'col s12 waves-effect waves-teal btn-flat' %>

  </div>
  <div class='col s12 m4 13 blue-grey darken-1 z-depth-2' id='site-layout-example-left'>
    <div class='col s12'  id='comments'>
      <% @tournament.comments.pluck(:content).each do |c| %>
          <h6><%= c %></h6> <hr>
      <% end %>
      <div>
      </div>
    </div>
    <% if @tournament.incourse? %>
      <%= form_with model: [@tournament, @comment], method: :post do |f| %>
        <%= f.hidden_field :tournament_id, value: @tournament.id %>
        <%= f.text_field :content, placeholder:"Mensaje" %>
        <button class="btn waves-effect blue-grey lighten-1" type="submit" name="action">
          <%= f.submit :enviar %>
          <i class="material-icons right">send</i>
        </button>
        <%= link_to '', "https://discordapp.com/login", class:"fab fa-discord fa-2x right" %>
      <% end %>
    <% end %>
    <br>
  </div>
</div>

