<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @tournament.player %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tournament.description %>
</p>

<p>
  <strong>Bet amounts:</strong>
  <%= @tournament.bet_amounts %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @tournament.winner %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
