<div class='row'>

  <div class='col s12 center'>
    <div class='row blue-grey darken-1'>
      <h5> Participantes </h5>
      <% @maxs.times do |p| %>
        <div class='col s6 m3 l2 center'>
          <h6 class='blue-grey lighten-1 mp-5 z-depth-3'>
            <% if @players_tournaments[@orderplayers[p]] %>
              <%= @players_tournaments[@orderplayers[p]].player.name %> 
              <%= @players_tournaments[@orderplayers[p]].player.points %> PUNTOS.
            <% end %>
          </h6>
        </div>
      <% end %>
    </div>
  </div>
  <% if @tournament.typetournament_id == 3 %>
    <div class='col s12 center'>
      <h5> Moderador </h5>
      
    </div>
  <% end %>

  <div class='col s12 m8 19  blue-grey darken-1 center z-depth-3'>
    <%= image_tag @tournament.game.logo, width:'400px' %>

    <h4>
      <%= @tournament.player.name %> <%= @tournament.player.last_name %> 
      <br> <%= @tournament.player.points %>
    </h4>

    <h5 class='col s6'>
      <%= image_tag 'Rags.png', width:'50px' %>
      <%= @tournament.bet_amounts %>
      <strong>Rags</strong>
    </h5>

    <h5 class='col s6'>Duelo tipo<br/> <%= @tournament.typetournament.typetournamentname %></h5>

    <h5 class='col s12'>Se juega <br/><%= @tournament.date %></h5>

    <h3 class='col s12'>
      <strong>Winner winner chicken dinner</strong>
      <%= @tournament.winner %>
    </h3>

    <%# 3 = PvP -- 2 = Sudden Death -- 1 = Star %>
    <% if @maxs + 1 >= @plc %>
      <% if @tournament.typetournament_id == 3 && @plc < @maxs || @tournament.typetournament_id < 3 %>
        <%= link_to 'Unirse como COMPETIDOR', tournament_players_tournaments_path(@tournament), method: :post, class:"waves-effect btn col s12 blue-grey lighten-1" %>
      <% else %>
        <%= link_to 'Unirse como MODERADOR', tournament_players_tournaments_path(@tournament), method: :post, class:"waves-effect btn col s12 blue-grey lighten-1" %>
      <% end %>
    <% else %>
      <%= link_to 'Torneo COMPLETO', method: :post, class:"waves-effect btn col s12 blue-grey lighten-1 disabled" %>
    <% end %>
    
    <br>

    <%= link_to 'Editar', edit_tournament_path(@tournament), class:'col s6 waves-effect waves-teal btn-flat' %>

    <%= link_to 'Atras', tournaments_path, class:'col s6 waves-effect waves-teal btn-flat' %>

  </div>
  <div class='col s12 m4 13 blue-grey darken-1' id='site-layout-example-left'>
    <div class='col s12'  id='comments'>
      <% @tournament.comments.pluck(:content).each do |c| %>
          <h6><%= c %></h6> <hr>
      <% end %>
      <div>
      </div>
    </div>
    <%= form_with model: [@tournament, @comment], method: :post do |f| %>
      <%= f.hidden_field :tournament_id, value: @tournament.id %>
      <%= f.text_field :content %>
      <button class="btn waves-effect blue-grey lighten-1" type="submit" name="action">
        <%= f.submit :enviar %>
        <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>
</div>

