<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= form.label :namegame %>
    <%= form.text_field :namegame %>
  </div>

  <div class="input-field col m12">
    <%= form.label :plataformas %>
    <%= form.select :platform_id, options_from_collection_for_select(Platform.all, :id, :nameplatform), {}, {multiple: true} %>
  </div>

  <div class="input-field col s12">
    <%= form.label :maxplayers %>
    <%= form.number_field :maxplayers %>
  </div>

  <div class="input-field col s12">
    <%= form.label :description %>
    <%= form.text_area :description, id:'textarea1', class:'materialize-textarea' %>
  </div>

  <div class="input-field col s12">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="input-field col s12">
    <%= form.label :developer %>
    <%= form.text_field :developer %>
  </div>

  <div class="input-field col s12">
    <%= form.label :logo %>
    <%= form.text_field :logo %>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">
    <%= form.submit %>
    <i class="material-icons right fa-spin">games</i>
  </button>
<% end %>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
