<div class='row center'>
  <div class='card center blue-grey darken-1'>
    <h2> RAGS </h2>
      <h5> Compra tus Rags con Paypal y comienza a 
      competir con tus amigos por muy lejos que esten 
      o con desconocidos por muy cerca que esten </h5>
  </div>
  <div class='col s12 m6'>
    <div class="card center blue-grey darken-1"><br>
      <div class="card-title">
        <h4> <%= image_tag 'Rags.png', width:'50px' %>
        1.000 Rags </h4>
      </div>
      <div class="card-content">
        <h5> Comparte y juega unas partidas con la comunidad
        <br><br>$7.38 USD, Aprox. $5.000 CLP <h5>
      </div>
      <div class="card-action">
        <%= link_to 'Comprar', pre_pay_billings_path(:amount => 7.38, :rags => 1000), class:'btn blue-grey lighten-1' %>
      </div>
    </div>
  </div>
  <div class='col s12 m6'>
    <div class="card center blue-grey darken-1"><br>
      <div class="card-title">
        <h4> <%= image_tag 'Rags.png', width:'50px' %>
        2.500 Rags + 300 Bonus </h4>
      </div>
      <div class="card-content">
        <h5> Comparte y juega unas partidas con la comunidad
        <br><br>$18.47 USD. Aprox. $12.500 CLP <h5>
      </div>
      <div class="card-action">
        <%= link_to 'Comprar', pre_pay_billings_path(:amount => 18.47, :rags => 2800), class:'btn blue-grey lighten-1' %>
      </div>
    </div>
  </div>
  <div class='col s12 m6'>
    <div class="card center blue-grey darken-1"><br>
      <div class="card-title">
        <h4> <%= image_tag 'Rags.png', width:'50px' %>
        6.000 Rags + 1.500 Bonus </h4>
      </div>
      <div class="card-content">
        <h5> Comparte y juega unas partidas con la comunidad
        <br><br>$44.32 USD. Aprox. $30.000 CLP <h5>
      </div>
      <div class="card-action">
        <%= link_to 'Comprar', pre_pay_billings_path(:amount => 44.32, :rags => 7500), class:'btn blue-grey lighten-1' %>
      </div>
    </div>
  </div>
  <div class='col s12 m6'>
    <div class="card center blue-grey darken-1"><br>
      <div class="card-title">
        <h4> <%= image_tag 'Rags.png', width:'50px' %>
        10.000 Rags + 3.500 Bonus </h4>
      </div>
      <div class="card-content">
        <h5> Comparte y juega unas partidas con la comunidad
        <br><br>$73.86 USD. Aprox. $50.000 CLP <h5>
      </div>
      <div class="card-action">
        <%= link_to 'Comprar', pre_pay_billings_path(:amount => 73.86, :rags => 13500), class:'btn blue-grey lighten-1' %>
      </div>
    </div>
  </div>
</div>