<p id="notice"><%= notice %></p>

<h1>Typetournaments</h1>

<table>
  <thead>
    <tr>
      <th>Typetournamentname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typetournaments.each do |typetournament| %>
      <tr>
        <td><%= typetournament.typetournamentname %></td>
        <td><%= link_to 'Show', typetournament %></td>
        <td><%= link_to 'Edit', edit_typetournament_path(typetournament) %></td>
        <td><%= link_to 'Destroy', typetournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typetournament', new_typetournament_path %>
