<nav>
  <div class="nav-wrapper">
    <% if current_player %>
      <a class="brand-logo" href="<%= root_path %>"><%#= current_player.avatar %></a>
      <a class="brand-logo" href="<%= root_path %>"><%= current_player.name %></a>
    <% else %>
      <a class="waves-effect waves-light btn" href='<%= new_player_session_path %>'><i class="material-icons left fa-spin">gamepad</i>Iniciar sesion</a>
      <a class="waves-effect waves-light btn" href='<%= new_player_registration_path %>'><i class="material-icons left fa-spin">videogame_asset</i>Registrate</a>
    <% end %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_player %>
        <li class="nav-item">Puntos: <%= current_player.points %></li>
        <li class="nav-item">Rags: <%= current_player.rags %></li>
        <a class="waves-effect waves-teal btn-flat" href="<%= destroy_player_session_path(current_player) %>" data-method="DELETE">  Cerrar Sesion<span class="sr-only">(current)</span></a>
      <% else %>
        <a class="waves-effect waves-light btn" href='<%= new_player_session_path %>'><i class="material-icons left fa-spin">gamepad</i>Iniciar sesion</a>
        <a class="waves-effect waves-light btn" href='<%= new_player_registration_path %>'><i class="material-icons left fa-spin">videogame_asset</i>Registrate</a>
      <% end %>
    </ul>
  </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <% if current_player %>
      <li class="nav-item">Puntos: <%= current_player.points %></li>
      <li class="nav-item">Rags: <%= current_player.rags %></li>
      <a class="waves-effect waves-teal btn-flat" href="<%= destroy_player_session_path(current_player) %>" data-method="DELETE">  Cerrar Sesion<span class="sr-only">(current)</span></a>
    <% end %>
  </ul>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>