<nav class="navbar navbar-expand-lg navbar-dark navcolor shadow">
  <% if current_player %>
    <a class="navbar-brand" href="<%= root_path %>"><%#= current_player.avatar %></a>
    <a class="navbar-brand" href="<%= root_path %>"><%= current_player.name %></a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <i class="fab fa-xbox fa-3x"></i>
      </li>
      <li class="nav-item">
        <i class="fab fa-playstation fa-3x"></i>
      </li>
      <li class="nav-item">
        <i class="fab fa-nintendo-switch fa-3x"></i>
      </li>
      <li class="nav-item">
        <i class="fab fa-steam fa-3x"></i>
      </li> 
    </ul>
      <% if current_player %>
        <span class="navbar-text text-center pr-5">
          <h5>Puntos: <%= current_player.points %></h5>
        </span>
        <span class="navbar-text text-center pr-5">
          <h5>Rags: <%= current_player.rags %></h5>
        </span>
        <span class="navbar-text">
          <a class="nav-link btn btn-outline-dark" href="<%= destroy_player_session_path(current_player) %>" data-method="DELETE">  Cerrar Sesion<span class="sr-only">(current)</span></a>
      <% else %>
          <a class="nav-link btn btn-outline-dark" href="<%= new_player_registration_path %>">  Iniciar Sesion<span class="sr-only">(current)</span></a>
      <% end %>
    </span>
  </div>
</nav>